{% extends "layout.html" %}
{% block content %}

<div class="row row--angled row--orange">
  {% include "navigation.html" %}
  <div class="content well well--s">
    <div class="cell cell--s">
      <p>For Students</p>
      <h1 class="heading heading--xxl mb5">Online learning has never been&nbsp;this&nbsp;easy.</h1>
    </div>
    <div class="cell cell--l screen dn--s">
      <img src="/assets/images/screen.png" />
    </div>
  </div>
</div>
<div class="row">
  <div class="cell cell--s content well well--m">
    <h2 class="heading heading--xl"><span class="tco">Slingularity.</span><br>Focus on one task at a time.</h2>
    <p>Each course assignment has a single goal, whether that’s watching a lecture, creating a written response or uploading a pre-created document. Students simply complete that single goal and move on to their next assignment. This style of learning makes it easy to focus and limit unnecessary distractions.</p>
  </div>
</div>
<div class="row row--light row--slanted">
  <div class="cell well well--xl">
    <div class="g">
      <div class="g-b g-b--12of12 g-b--m--5of12">
        <div class="cell cell--s content">
					<h2 class="heading heading--xl"><span class="tcg">Stay organized.</span><br>Everything in one place.</h2>
					<p>Between keeping up with assignments and miscellaneous resources, it’s no wonder many students have trouble completing their degree. Syllabus keeps all of these resources organized and within an arm’s reach so that students can focus on learning. Students can work on any assignment and pull up various resources without ever leaving the course.</p>
				</div>
      </div>
      <div class="g-b g-b--none g-b--m--2of12">
      </div>
      <div class="g-b g-b--12of12 g-b--m--5of12">
        <div class="cell cell--s content">
					<h2 class="heading heading--xl"><span class="tcb">Clarity.</span><br>Always know where you stand.</h2>
					<p>One of the major frustrations of online schooling is knowing where a student stands at any given moment. Syllabus helps the student clearly keep track of assignments they have completed and still need to complete. And because Syllabus helps in automating grades, a letter grade is clearly displayed and updated as assignments are completed.</p>
				</div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
