{% extends "layout.html" %}
{% block content %}

<div class="row row--angled row--orange">
  {% include "navigation.html" %}
  <div class="content well well--s">
    <div class="cell cell--s">
      <p>For Students</p>
      <h1 class="heading heading--xxl mb5">Online learning has never been&nbsp;this&nbsp;easy.</h1>
    </div>
    <div class="cell cell--l screen dn--s">
      <img src="/assets/images/screen.png" />
    </div>
  </div>
</div>
<div class="row">
  <div class="cell cell--s content well">
    <h2 class="heading heading--xl"><span class="tco">Slingularity.</span><br>Focus on one task at a time.</h2>
    <p>Each course assignment has a single goal, whether that’s watching a lecture, creating a written response or uploading a pre-created document. Students simply complete that single goal and move on to their next assignment. This style of learning makes it easy to focus and limit unnecessary distractions.</p>
  </div>
</div>

{% endblock %}
