// *************************************
//
//   Banner
//   -> Sign up call to action
//
// *************************************

.banner
  align-items: center
  background: $c-blue
  border-radius: $b-borderRadius
  box-shadow: $b-boxShadow-lg
  color: white
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  padding: ($b-space * 2.5) ($b-space * 4)

// -------------------------------------
//   Modifiers
// -------------------------------------

// .mv-module--modifier

// -------------------------------------
//   States
// -------------------------------------

// .mv-module.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-mv-module

// -------------------------------------
//   Submodules
// -------------------------------------

// .mv-module-submodules
