// *************************************
//
//   Cell
//   -> Width-limiting blocks
//
// *************************************

.cell
  margin-left: auto
  margin-right: auto
  max-width: ($b-maxWidth * 0.425)
  position: relative
  +respond-to($g-m)
    max-width: $b-maxWidth

// -------------------------------------
//   Modifiers
// -------------------------------------

.cell--s
  +respond-to($g-m)
    max-width: ($b-maxWidth * 0.425)

.cell--m
  +respond-to($g-m)
    max-width: ($b-maxWidth * 0.55)

.cell--l
  +respond-to($g-m)
    max-width: ($b-maxWidth * 0.825)
