// *************************************
//
//   Heading
//   -> h1, h2, h3, etc replacement
//
// *************************************

.heading
  color: $c-gray-dark
  font-family: $t-fontFamily-heading
  font-weight: 400
  position: relative
  line-height: 1.2
  z-index: 10

// -------------------------------------
//   Modifiers
// -------------------------------------

.heading--l
  font-family: $t-fontFamily
  font-size: $t-fontSize-l
  margin: 0 0 ($b-space * 0.5)
  +respond-to($g-s)
    margin: 0 0 $b-space

.heading--xl
  font-size: ($t-fontSize-l * 1.25)
  margin: 0 0 ($b-space * 1.5)
  +respond-to($g-s)
    margin: 0 0 ($b-space * 2)
  +respond-to($g-m)
    font-size: $t-fontSize-xl

.heading--xxl
  font-size: $t-fontSize-xl
  margin: 0 0 $b-space
  +respond-to($g-s)
    margin: 0 0 ($b-space * 2)
  +respond-to($g-m)
    font-size: $t-fontSize-xxl

// -------------------------------------
//   States
// -------------------------------------

// .mv-module.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-mv-module

// -------------------------------------
//   Submodules
// -------------------------------------

// .mv-module-submodules
