// *************************************
//
//   Logo
//   -> Product branding
//
// *************************************

.logo
  display: inline-block
  margin: $b-space 0
  max-width: 125px
  outline: none
  +respond-to($g-s)
    max-width: none
  +respond-to($g-m)
    margin: 0
  img
    margin: 0
  &:hover, &:focus
    opacity: 0.75

// -------------------------------------
//   Modifiers
// -------------------------------------

// .mv-module--modifier

// -------------------------------------
//   States
// -------------------------------------

// .mv-module.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-mv-module

// -------------------------------------
//   Submodules
// -------------------------------------

// .mv-module-submodules
