// *************************************
//
//   Row
//   -> Width-spanning blocks
//
// *************************************

.row
  overflow: hidden
  padding: 0 ($b-space * 2)
  +respond-to($g-m)
    padding: 0 ($b-space * 4)

// -------------------------------------
//   Modifiers
// -------------------------------------

.row--angled
  +respond-to($g-s)
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%)
    max-height: 550px
  +respond-to($g-m)
    max-height: 700px

.row--hero
  overflow: visible
  position: relative
  &::before
    background: $c-gray-light
    bottom: 0
    clip-path: polygon(0% 0%, 100% 0%, 100% 33%, 0% 66%)
    content: ''
    left: 0
    position: absolute
    right: 0
    top: 0

.row--light
  background: $c-gray-light

.row--orange
  background: $c-orange
  color: white

.row--slanted
	+respond-to($g-m)
		clip-path: polygon(0% 33%, 100% 0%, 100% 66%, 0% 100%)
