// *************************************
//
//   Screen
//   -> Screenshot containers
//
// *************************************

.screen
  background: white
  border: $b-border
  border-radius: ($b-borderRadius * 1.5)
  box-shadow: $b-boxShadow-lg
  padding: ($b-space * 2)
  +respond-to($g-s)
    border-radius: ($b-borderRadius * 2)
    padding: ($b-space * 3)
  +respond-to($g-m)
    border-radius: ($b-borderRadius * 3)
    padding: ($b-space * 5)
  img
    border: $b-border
    margin: 0

// -------------------------------------
//   Modifiers
// -------------------------------------

.screen--overlap
  display: none
  height: auto
  top: 0
  position: absolute
  top: ($b-space * -4)
  width: ($b-maxWidth * 0.65)
  +respond-to($g-m)
    display: block

// -------------------------------------
//   States
// -------------------------------------

// .mv-module.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-mv-module

// -------------------------------------
//   Submodules
// -------------------------------------

// .mv-module-submodules
