// *************************************
//
//   Screen
//   -> Screenshot containers
//
// *************************************

.screen
  background: white
  border: $b-border
  border-radius: ($b-borderRadius * 5)
  box-shadow: $b-boxShadow-lg
  padding: ($b-space * 2)
  +respond-to($g-s)
    border-radius: ($b-borderRadius * 7)
    padding: ($b-space * 3)
  +respond-to($g-m)
    border-radius: ($b-borderRadius * 10)
    padding: ($b-space * 5)
  img
    border: $b-border
    margin: 0

// -------------------------------------
//   Modifiers
// -------------------------------------

.screen--animated
  animation: swap 10s 1000 ease
  border-radius: ($b-borderRadius * 5)
  left: 0
  padding: ($b-space * 2)
  position: absolute
  right: 0
  top: 0
  &:first-of-type
    animation-delay: 5s
  +respond-to($g-s)
    border-radius: ($b-borderRadius * 7)
    padding: ($b-space * 3)
  +respond-to($g-m)
    bottom: 0
    top: auto
  
.screen--overlap
  display: none
  height: auto
  top: 0
  position: absolute
  top: ($b-space * -4)
  width: ($b-maxWidth * 0.65)
  +respond-to($g-m)
    display: block

// -------------------------------------
//   States
// -------------------------------------

// .mv-module.is-state

// -------------------------------------
//   Context
// -------------------------------------

.has-screens
  height: ($b-space * 27)
  margin-top: ($b-space * 7)
  position: relative
  +respond-to($g-s)
    height: ($b-space * 30)

// -------------------------------------
//   Submodules
// -------------------------------------

// .mv-module-submodules
