// *************************************
//
//   Well
//   -> Vertical spacing
//
// *************************************

.well
  margin-bottom: ($b-space * 4)
  margin-top: ($b-space * 4)
  +respond-to($g-m)
    margin-bottom: ($b-space * 12)
    margin-top: ($b-space * 12)

// -------------------------------------
//   Modifiers
// -------------------------------------

.well--s 
  margin-bottom: ($b-space * 2)
  margin-top: ($b-space * 2)
  +respond-to($g-m)
    margin-bottom: ($b-space * 5)
    margin-top: ($b-space * 5)

.well--l
  margin-bottom: ($b-space * 7)
  margin-top: ($b-space * 7)
  +respond-to($g-m)
    margin-bottom: ($b-space * 15)
    margin-top: ($b-space * 15)
