{% extends "layout.html" %}
{% block content %}

<div class="row row--green row--visible">
  {% include "navigation.html" %}
  <div class="g well mb0">
    <div class="g-b g-b--12of12 g-b--m--5of12">
      <div class="cell cell--s">
        <p>For Teachers</p>
        <h1 class="heading heading--xxl mb5">Help students succeed while taking&nbsp;a&nbsp;break.</h1>
      </div>
    </div>
    <div class="g-b g-b--12of12 g-b--m--7of12">
      <div class="screen screen--overlap">
        <img src="/assets/images/screen.png" />
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="g well well--s">
    <div class="g-b g-b--12of12 g-b--m--5of12">
      <div class="cell cell--s">
        <p>Syllabus combines simple software with powerful automation to create and maintain complete full-length courses. It includes a teacher oriented course creation suite that not only makes course creation easy, but also helps teachers make better courses with specific tools. And by pre-grading certain assignment types, it helps teachers save valuable time.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
