{% extends "layout.html" %}
{% import "navigation.html" as nav %}

{% block content %}

<div class="row row--green row--visible">
  {{ nav.active('teachers') }}
  <div class="cell">
    <div class="g well well--m mb0">
      <div class="g-b g-b--12of12 g-b--m--5of12">
        <p>For Teachers</p>
        <hr class="divider divider--left divider--s">
        <h1 class="heading heading--xxl mb5">Help students succeed while taking&nbsp;a&nbsp;break.</h1>
      </div>
      <div class="g-b g-b--12of12 g-b--m--7of12">
        <div class="screen screen--overlap">
          <img src="/assets/images/screen.png" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="cell">
    <div class="g well well--s">
      <div class="g-b g-b--12of12 g-b--m--5of12">
        <p>Syllabus combines simple software with powerful automation to create and maintain complete full-length courses. It includes a teacher oriented course creation suite that not only makes course creation easy, but also helps teachers make better courses with specific tools. And by pre-grading certain assignment types, it helps teachers save valuable time.</p>
      </div>
    </div>
    <div class="g g--center well well--top">
      <div class="g-b g-b--12of12 g-b--l--7of12">
        <div class="cell cell--m">
          <img src="/assets/images/tasks.svg">
        </div>
      </div>
      <div class="g-b g-b--12of12 g-b--l--5of12">
        <div class="cell cell--m">
          <h2 class="heading heading--xl"><span class="tcb">Be creative.</span><br>Dozens of assignment types.</h2>
          <p>With Syllabus, it’s easy to be creative without time consuming hard work, allowing you to focus on improving your course. Margaret Mead once said that a model that is completely realistic is no more useful than a map with a scale of one-to-one. The only reason the map helps you is.</p>
          <ul class="tasks">
            <li class="task-blue">
              <p><strong>Video &amp; Audio</strong>Pre-recorded lectures.</p>
            </li>
            <li class="task-green">
              <p><strong>Reading</strong>Articles or assigned books.</p>
            </li>
            <li class="task-orange">
              <p><strong>Writing</strong>Critical thought responses.</p>
            </li>
            <li class="task-purple">
              <p><strong>Upload</strong>Custom documents.</p>
            </li>
            <li class="task-red">
              <p><strong>Questionaire</strong>Traditional testing.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row row--light row--slanted">
  <div class="cell">
    <div class="g">
      <div class="g-b g-b--first g-b--m--second g-b--12of12 g-b--m--6of12">
        <img src="/assets/images/chat.png" class="media media--overlap">
      </div>
      <div class="g-b g-b--second g-b--m--first g-b--12of12 g-b--m--6of12">
        <div class="cell cell--s content content--down content--left">
          <img src="/assets/images/icon-circle-communicate.svg" class="mt0">
					<h2 class="heading heading--xl"><span class="tcg">Communicate.</span><br>With anyone, at any time.</h2>
          <p>Teachers can communicate clearly and easily with a specific individual, group of students, or the entire classroom without ever having to touch an email. Students are notified immediately and future plans include the option to send specific action items such as a request to complete a document to any of those groups of people.</p>
				</div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="cell">
    <div class="g well">
      <div class="g-b g-b--12of12 g-b--m--6of12">
        <img src="/assets/images/icon-circle-grade.svg" class="mt0">
        <h2 class="heading heading--xl"><span class="tco">Grade faster.</span><br>Automation to help with tedious tasks.</h2>
        <p>When teachers use the video &amp; audio, reading and/or traditional questionnaire assignment types and provide Syllabus with the answers, grading will become automated and the students grades are simultaneously updated. This saves the teacher tons of time which allows them to focus on more important tasks, or have a full weekend to themselves.</p>
      </div>
      <div class="g-b g-b--12of12 g-b--m--6of12">
        <img src="/assets/images/icon-circle-accuracy.svg">
        <h2 class="heading heading--xl"><span class="tcr">Grade accurately.</span><br>Grading tools specifically for teachers.</h2>
        <p>When students go through a course, their course work is tied to their account and automatically organized for the teacher. Teachers simply visit that student’s course work and begins grading their uploads or writing assignments. To help teachers, Syllabus includes tools built specifically for markup and other annotations, thus making grading not only easier, but also more accurate.</p>
      </div>
    </div>
    {% include 'banner.html' %}
  </div>
</div>

{% endblock %}
