{% extends "layout.html" %}
{% import "navigation.html" as nav %}

{% block content %}

<div class="row row--light">
  {{ nav.active('about', false) }}
  <div class="cell well well--l mb5">
    <div class="cell cell--l">
      <div class="g">
        <div class="g-b g-b--12of12 g-b--m--10of12">
          <h1 class="heading heading--xxl">Serving <span class="tco">students,</span> <span class="tcg">teachers</span> and&nbsp;<span class="tcb">administrators.</span></h1>
        </div>
      </div>
    </div>
    <div class="well well--s">
      <hr class="divider">
    </div>
    <div class="cell cell--l">
      <div class="g g--right">
        <div class="g-b g-b--12of12 g-b--m--7of12">
          <p class="tsl">The ultimate purpose for Syllabus is to enrich student, teacher and administrator lives by creating a better online schooling experience. Syllabus helps any college, university or seminary create an entire online school with ease.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="cell well">
    <div class="cell cell--l">
      <div class="g">
        <div class="g-b g-b--12of12 g-b--m--5of12">
          <h2 class="heading heading--xl">Platform Roadmap</h2>
          <p class="mb5">Syllabus is in the early stages of design &amp; development. In order to complete and fulfill the demand for a more modern LMS, a specific roadmap must be followed. This roadmap shows what phases have been complete, what is currently being work on and what is coming up.</p>
        </div>
        <div class="g-b g-b--12of12 g-b--m--7of12">
          <ul class="roadmap">
            <li class="roadmap-complete">
							<p class="mb05 tcg">Complete</p>
              <h3 class="heading heading--l">Conceptualization</h3>
              <p>The concept behind Syllabus was born out of personal experiences and frustrations with current online schooling. The end goal is to create the most intuitive and powerful LMS for any college, university or seminary that desires to launch entire online degree options.</p>
            </li>
            <li class="roadmap-current">
							<p class="mb05 tco">In-progress</p>
              <h3 class="heading heading--l">Interviewing Schools</h3>
              <p>By inteviewing current students, teachers and administrators, we will be able to create an online learning platform for schools that specifically and effectively addresses the most pressing issues they face today.</p>
            </li>
            <li class="roadmap-current">
							<p class="mb05 tco">In-progress</p>
              <h3 class="heading heading--l">Design &amp; Front-end Development</h3>
              <p class="mb0">By designing as we interview schools, we are able to accurately address and resolve an overwhelming majority of the problems that exist. As the design concepts are fleshed out, we will simultaneously create front-end templates that accurately represent the full Syllabus experience.</p>
            </li>
            <li>
							<p class="mb05">Coming Up</p>
              <h3 class="heading heading--l">Full System Development</h3>
              <p class="mb0">Once all the front-end templates have been created, we simply need to hire a development team to "connect the dots." This simply means that they will take care of database, server and application setup and configuration. This will fully prepare the Syllabus platform to be used by schools everywhere.</p>
            </li>
            <li>
							<p class="mb05">Coming Up</p>
              <h3 class="heading heading--l">Continued Growth</h3>
              <p class="mb0">Following the launch of Syllabus, instead of seaking to reach a plethora of users and schools, Syllabus's main goal for growth is to continue improving existing features and introduce new features and tools that continue to enrich student, teacher and administrator lives.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% include 'banner.html' %}
  </div>
</div>

{% endblock %}
