{% extends "layout.html" %}
{% block content %}

<div class="row row--light">
  {% include "navigation.html" %}
  <div class="cell cell--m hero well tac">
    <h1>The first LMS built exclusively with higher education in mind.</h1>
    <div class="cell cell--s">
      <p>Syllabus is a full-featured LMS for small to medium sized colleges and universities. It focuses on clarity and simplicity for both teachers and students.</p>
      <p><strong>Coming soon. Sign up to receive platform updates.</strong></p>
      <input type="email" placeholder="email@example.com" />
    </div>
    <div class="hero-circle"></div>
  </div>
</div>
<div class="row row--hero">
  <div class="cell cell--l">
    <div class="screen">
      <img src="/assets/images/screen.png" />
    </div>
  </div>
</div>
<div class="row">
  <div class="cell">
    <div class="well">
      <h2 class="tac">Who is syllabus built for?</h2>
      <div class="g tac">
        <div class="g-b g-b--4of12">
          <h3>Students</h3>
          <p>With Syllabus, students can not only take full-length, accredited courses from their school of choice, but they can also manage their registration, tuition and other miscellaneous items from within their account settings.</p>
        </div>
        <div class="g-b g-b--4of12">
          <h3>Administrators</h3>
          <p>Because students manage their own accounts, no more unneccessary paperwork or time spent reviewing errors. Syllabus takes care of it all so that you have time to focus on more important issues.</p>
        </div>
        <div class="g-b g-b--4of12">
          <h3>Teachers</h3>
          <p>Syllabus automates grading tests which saves teachers time and allows them to focus on other more important issues. Teachers also get to continue teaching in the manner thay prefer with dozens of assignment types.</p>
        </div>
      </div>
    </div>
    <div class="well">
      <div class="banner">
        <h3 class="dib">Sign Up</h3>
        <p class="dib">Send us your email to speak to a representative and receive updates.</p>
        <input type="email" />
      </div>
    </div>
    <div class="well">
      <div class="cell cell--s tac">
        <h2>Online learning & student management for any college or university.</h2>
        <p>From the beginning Syllabus has worked with respected higher education institutions to build a product that exclusively serves small to medium sized colleges, universities and seminaries.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
