{% extends "layout.html" %}
{% block content %}

<div class="row">
  {% include "navigation.html" %}
  <div class="cell cell--m tac">
    <h1>The first LMS built exclusively with higher education in mind.</h1>
    <div class="cell cell--s">
      <p>Syllabus is a full-featured LMS for small to medium sized colleges and universities. It focuses on clearity and simplicity for both teachers and students.</p>
      <p><strong>Coming soon. Sign up to receive platform updates.</strong></p>
      <input type="email" placeholder="email@example.com" />
    </div>
  </div>
</div>

{% endblock %}
