{% extends "layout.html" %}
{% import "navigation.html" as nav %}

{% block content %}

<div class="row row--light">
  {{ nav.active('', false) }}
  <div class="cell cell--m hero well well--l">
    <h1 class="heading heading--xxl">The first LMS built exclusively with higher education in&nbsp;mind.</h1>
    <div class="cell cell--s">
			<p class="tsl">With Syllabus, <em>any</em> higher education institution can create multiple online degree programs with ease&nbsp;and&nbsp;simplicity.</p>
      <p><strong>Coming soon. Sign up to receive platform updates.</strong></p>
      <form action="//syllabusapp.us14.list-manage.com/subscribe/post?u=aed6cab3a223a0580595b7afd&amp;id=185a051e34" method="post" name="mc-embedded-subscribe-form" class="input" target="_blank" novalidate>
        <input type="email" value="" name="EMAIL" placeholder="email@example.com">
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_aed6cab3a223a0580595b7afd_185a051e34" tabindex="-1" value="">
        </div>
        <input type="submit" value="Sign Up" name="subscribe">
      </form>
    </div>
  </div>
</div>
<div class="row row--hero dn--s">
  <div class="cell cell--l">
    <div class="screen">
      <img src="/assets/images/interface-homepage.png" />
    </div>
  </div>
</div>
<div class="row">
  <div class="cell">
    <div class="well">
      <h2 class="heading heading--xl mb0 tac">Who is Syllabus built for?</h2>
      <div class="g">
        <div class="g-b g-b--12of12 g-b--m--4of12">
          <div class="content content--s">
            <div class="content-media" id="three-circle"></div>
            <div class="content-text">
              <h3 class="heading heading--l tco">Students</h3>
              <p>With Syllabus, students can not only take full-length, accredited courses from their school of choice, but they can also manage their registration, tuition and other miscellaneous items from within their account&nbsp;settings.</p>
              <a href="#" class="btn btn--orange">Learn more</a>
            </div>
          </div>
        </div>
        <div class="g-b g-b--12of12 g-b--m--4of12">
          <div class="content content--s">
            <div class="content-media" id="three-cone"></div>
            <div class="content-text">
              <h3 class="heading heading--l tcb">Administrators</h3>
              <p>Because students manage their own accounts, no more unneccessary paperwork or time spent reviewing errors. Syllabus takes care of it all so that you have time to focus on more important&nbsp;issues.</p>
              <a href="#" class="btn">Learn more</a>
            </div>
          </div>
        </div>
        <div class="g-b g-b--12of12 g-b--m--4of12">
          <div class="content content--s">
            <div class="content-media" id="three-ico"></div>
            <div class="content-text">
              <h3 class="heading heading--l tcg">Teachers</h3>
              <p>Syllabus automates grading tests which saves teachers time and allows them to focus on other more important issues. Teachers also get to continue teaching in the manner thay prefer with dozens of assignment&nbsp;types.</p>
              <a href="#" class="btn btn--green">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'banner.html' %}
  </div>
</div>

{% endblock %}
